<div class="container">
  <div class="container" id="contenido">
    <h2 style="text-align: center;" >Personajes de Caballeros del Zodiaco</h2>
    <h5 style="text-align: center; margin-bottom: 20px;" >Ejemplo de como generar archivos PDF con imagenes desde Angular, usando la libreria jspdf y html2canvas</h5>
    <div class="row">            
      <div class="col-md-4" *ngFor="let caballero of caballerosZ">
        <div class="card mb-4 shadow-sm">
          <img src="{{caballero.imagen}}" style="height: 430px;" title="{{caballero.name}}" alt="{{caballero.name}}">
          <div class="card-body">
            <b class="card-text">Nombre: {{caballero.name}}</b>
            <p>Principal poder: {{caballero.poder}}</p>
          </div>
        </div>
      </div>
    </div>          
  </div>
  <button style="width: 100%; margin-bottom: 20px;" (click)="generarPDF()" class="btn btn-info">Crear PDF</button>
</div>